a{
    text-decoration: none!important;
     color: inherit!important;
  }
  .nav-class{
    display: flex;
    background-color: #d94b0e;
     /* height: 0 vh!important;  */
     justify-content:left !important;
     align-items: flex-start;
  }
  .header-elements{
     display: flex; 
    justify-content:right !important;
    align-items: flex-end !important;
  }
  .App {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100vh;
  background-color: rgb(237, 178, 84);
  }
  .container {
    display: flex;
    height: 80vh;
    /* border: 1px solid black; */
    padding: 20px;
    flex-direction: column;
    align-items:center;
    font-size: 20px;
    color: white;
  }
  .form{
    color:aliceblue;
    display: flex;
    justify-content: space-around;
    width: 450px;
  }
  input{
    width: 80%;
    padding: 10px;
    border-radius: 40px;
    border: none;
    margin-bottom: 10;
   
  }
  button{
    border: none;
    padding: 10px;
    border-radius: 40px!important;
    margin: 0 5px;
    background-color:  rgb(237, 178, 84) !important;
    color: blueviolet;
    padding: 10px 20px;
    margin-left: 40px !important;
    
    
     
  }
  .allTodos {
    list-style: none;
    margin: 0;
    padding: 0;
    
    
  }
  .singleTodo {
    /* border-radius: 25px; */
    /* margin: 10px 0; */
    background-color:  rgb(237, 178, 84) !important;
    padding: 10px 20px;
    display: flex;
    width: 450px;
    align-items: flex-start;
    justify-content: space-between;
    
  }
  .todoText {
    flex: 1;
  } 
  .header-container{
     height: 1%;
     display: flex;
     flex-direction: row;
     
     /* justify-content:right !important; */
     
  } 
  .nav-item{
    /* height: 1%;
    display: flex; */
  margin-left: 2px;
  }
  .brand{
    
    justify-content:left!important;

  }